<article class="py-8" itemscope itemtype="https://schema.org/BlogPosting">
   {% for block in section.blocks %}

    {%  case block.type %} 
      {%  when 'article_title' %}
       <div class="flex justify-center items-center">
        <div class="max-w-7xl text-center">
            <a class="text-base uppercase text-gray-500 hover:text-gray-800 font-bold" href="{{ blog.url }}">{{ blog.title }}</a>
             <h1 class="font-medium text-5xl " itemprop="headline">{{ article.title }}</h1>
        </div>
       </div>
       
      {%  when 'article_author' %}
        <div class="flex items-center justify-center">
            <div class="max-w-7xl text-center"  itemscope itemtype="http://schema.org/Person">
                {% if section.settings.enable_author %}
                    <h2 class="font-bold text-2xl" itemprop="author">{{ article.author }}</h2>
                {% endif %}
            </div>
        </div>
        
       {%  when 'article_published_date' %}      
        <div class="flex items-center justify-center">
            <div class="max-w-7xl text-center">
                 {% if section.settings.enable_published_date %}
                    <time itemprop="datePublished dateCreated" class="font-bold text-2xl" datetime="{{ article.published_at | date:'%y-%m-%d' }}">
                    {% comment %} {{ article.published_at | date:'%y-%m-%d' }} {% endcomment %}
                    {{ article.published_at | date: format:'on_date' }}
                    </time>
           {% endif %}
            </div>
        </div>
      
       {%  when 'featured_image' %}
        {% comment %} <div class="mx-w-7xl rounded-lg bg-blue-100 mx-auto overflow-hidden ">
             <img src="{{ article.image |  image_url: width: 200  }}" alt="{{ article.image.alt }}">
        </div>  {% endcomment %}
        <div itemprop="image" class="mx-w-7xl rounded-lg bg-blue-100 mx-auto overflow-hidden flex justify-center items-center my-4 ">
            {% if article.image != blank %}
                <img class="w-full h-96 object-cover object-center" src="{{ article.image | image_url: width: 200 }}" alt="{{ article.image.alt }}">
            {%  else %}
                {% assign placeholder_image='lifestyle-2' %}
                {{ placeholder_image |  placeholder_svg_tag: 'w-full h-96 object-cover object-center p-5' }}


            {% endif %}
        </div>
        

          

       {%  when 'article_content' %}
         <div itemprop="articleBody" class="p-5 bg-orange-300">{{ article.content }}</div>
    {% endcase %} 
{% endfor %}
 
</article>


{% if blog.comments_enabled? %}
   <div id="comments" class="my-8">
    {% if article.comments_count>0 %}   
        <div class="flex-1 items-center justify-center mx-auto max-w-4xl px-4">
            <h1 class="text-lg mb-4 font-medium">See all the comments</h1>
            {%  paginate article.comments by 5  %}
                {% for comment in article.comments %}
                    <div class="flex-1 border my-4 mx-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                        <span class="comment-author">{{ comment.author }}</span> <span class="text-xs text-gray-400">{{ comment.created_at |  date: format:'default' }}</span>
                        <p class="text-sm">{{ comment.content }}</p>
                    </div>
        
                {% endfor %}
                {% if paginate.pages > 1 %}
                    {{ paginate |  default_pagination }}
                    {% endif %}
            {% endpaginate %} 
        </div>
    {% else %}
       there are no comment
    {% endif %}    
   </div>
   <div id="comment_form" class="mb-8">
    {%  form 'new_comment',article  %} 
        <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">

        {% if form.errors %}
            <div class="border p-5">
                <div class="flex flex-row items-center w-full my-3">
                    <div class="text-red-500">
                        {% render 'icon-failed' %}
                    </div>
                    <div class="text-sm font-medium ml-3">
                        Oh no! Your comment was not posted
                    </div>
                </div>
                <ul class="px-4 mb-3 ml-7 list-decimal">
                    {% for error in form.errors %}
                        <li>
                            <span>{{ form.errors.messages[error] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center w-full my-3 p-5">
                <div class="text-green-500">
                    {% render 'icon-success' %}
                </div>
                <div class="text-sm font-medium ml-3">Comment is posted successfully</div>
            </div>
        {% endif %}


        <div class="px-1 md:flex mb-3">
            <div class="px-3 md:w-1/2">
                <label for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
                <input 
                    type="text" 
                    name="comment[author]" 
                    id="comment_author" 
                    class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none"
                    placeholder="Jane Doe"
                    required
                >
            </div>
            <div class="px-3 md:w-1/2">
                <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">Email</label>
                <input 
                    type="email" 
                    name="comment[email]" 
                    id="comment_email" 
                    class="w-full text-gray-700 border py-3 px-4 mb-3 focus:outline-none"
                    placeholder="jane@doe.com"
                    required
                >
            </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3">
                <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
                <textarea class="w-full text-gray-700 resize-none h-20 py-2 px-3 focus:outline-none border" name="comment[body]" id="comment_content" required></textarea>
            </div>
        </div>
        <div class="px-1 md:flex mb-3">
            <div class="md:w-full px-3 bg-gray-950">
                <input type="submit" class="w-full cursor-pointer px-4 py-2 border text-base font-medium text-stone-800 bg-amber-400  hover:bg-gray-500" value="Post comment">
            </div>
        </div>
    </div>
{% endform %}
</div>
{% endif %}




  
   


   


    {% schema %}
        {
            "name": "Template article",
          
            "settings": [
                {
                    "type": "checkbox",
                    "id": "enable_author",
                    "label": "enable author",
                    "default": true,
                    "info": "Display author name"
                },
                {
                    "type": "checkbox",
                    "id": "enable_published_date",
                    "label": "Enable published date",
                    "default": true,
                    "info": "Display published date"

                }
                
                  
                
            
            ],
            "blocks": [
                {
                    "type": "article_title",
                    "name": "Title",
                    "limit": 1
                },
                {
                    "type": "article_author",
                    "name": "Author",
                    "limit": 1
                },
                {
                    "type": "article_published_date",
                    "name": "Publieshed date",
                    "limit": 1
                },
                {
                    "type": "featured_image",
                    "name": "Thumbnail",
                    "limit": 1
                },
                {
                    "type": "article_content",
                    "name": "Content",
                    "limit": 1
                }
            ]
        }
    {% endschema %}


{% comment %} {
  "sections": {
    "template": {
      "type": "template_article",
      "settings": {
      }
    }
  },
  "order": [
    "template"
  ]
} {% endcomment %}
    