{% for block in section.blocks %}

    {%  case block.type %} 
      {%  when 'article_title' %}
        <div class="max-w-7xl">
            <a class="text-base uppercase text-gray-500 hover:text-gray-800 font-bold" href="{{ blog.url }}">{{ blog.title }}</a>
             <h1 class="font-medium text-4xl md:text-6xl">{{ article.title }}</h1>
        </div>
       x
      {%  when 'article_author' %}
        {% if section.settings.enable_author %}
            <h2 class="font-bold text-2xl">{{ article.author }}</h2>
        {% endif %}
       {%  when 'article_published_date' %}      
       {% if section.settings.enable_published_date %}
            <time class="font-bold text-2xl" datetime="{{ article.published_at | date:'%y-%m-%d' }}">
            {{ article.published_at | date:'%y-%m-%d' }}
            </time>
       {% endif %}
       {%  when 'featured_image' %}
           <img src="{{ article.image |  image_url: width: 200  }}" alt="{{ article.image.alt }}">

       {%  when 'article_content' %}
         <div class="py-5 rounded">{{ article.content }}</div>
    {% endcase %} 
{% endfor %}







  
   


   


    {% schema %}
        {
            "name": "Template article",
          
            "settings": [
                {
                    "type": "checkbox",
                    "id": "enable_author",
                    "label": "enable author",
                    "default": true,
                    "info": "Display author name"
                },
                {
                    "type": "checkbox",
                    "id": "enable_published_date",
                    "label": "Enable published date",
                    "default": true,
                    "info": "Display published date"

                }
                
                  
                
            
            ],
            "blocks": [
                {
                    "type": "article_title",
                    "name": "Title",
                    "limit": 1
                },
                {
                    "type": "article_author",
                    "name": "Author",
                    "limit": 1
                },
                {
                    "type": "article_published_date",
                    "name": "Publieshed date",
                    "limit": 1
                },
                {
                    "type": "featured_image",
                    "name": "Thumbnail",
                    "limit": 1
                },
                {
                    "type": "article_content",
                    "name": "Content",
                    "limit": 1
                }
            ]
        }
    {% endschema %}


{% comment %} {
  "sections": {
    "template": {
      "type": "template_article",
      "settings": {
      }
    }
  },
  "order": [
    "template"
  ]
} {% endcomment %}
    