<h1>{{ article.title }}</h1>
<h2>{{ article.author }}</h2>
<time datetime="{{ article.published_at | date:'%y-%m-%d' }}">
    {{ article.published_at | date:'%y-%m-%d' }}
    </time>
    <img src="{{ article.image |  image_url: width: 200  }}" alt="{{ article.image.alt }}">
   


    <div class="py-5 rounded">{{ article.content }}</div>git 